## Iterable

In [1]:
list1 = [5,2,3,4,5]
list1

[5, 2, 3, 4, 5]

In [2]:
tup1 = (10,20,30,40,50)
tup1

(10, 20, 30, 40, 50)

In [3]:
str1 = 'hello world'
str1

'hello world'

In [5]:
for x in [1,2,3]:
    print(x)

1
2
3

In [6]:
for x in [1,2,3]:
    print(x)
    print('hi')

1
hi
2
hi
3
hi

In [7]:
for x in [1,2,3]:
    print(x)
print('hi')

1
2
3
hi

In [8]:
for x in list1:
    print(x)

5
2
3
4
5

In [9]:
for y in 'hello world':
    print(y)

h
e
l
l
o

w
o
r
l
d

In [10]:
list2 = [1,5.5,'hi']
list2

[1, 5.5, 'hi']

In [11]:
tup2 = (4,7.7,'hello')
tup2

(4, 7.7, 'hello')

In [12]:
str2 = 'hello123'
str2

'hello123'

## Sequence methods

In [13]:
list1

[5, 2, 3, 4, 5]

In [14]:
3 in list1

True

In [15]:
10 in list1

False

In [16]:
10 not in list1

True

In [17]:
str1

'hello world'

In [18]:
'w' in str1

True

In [19]:
'a' not in str1

True

## Concatenate

In [20]:
list1 + list2

[5, 2, 3, 4, 5, 1, 5.5, 'hi']

In [21]:
tup1 + tup2

(10, 20, 30, 40, 50, 4, 7.7, 'hello')

In [22]:
'abc' + 'xyz'

'abcxyz'

In [23]:
list1+tup1

TypeError: can only concatenate list (not "tuple") to list

## Repitition

In [24]:
 3* 'abc'

'abcabcabc'

In [25]:
3*tup1

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [26]:
5 * list1

[5, 2, 3, 4, 5, 5, 2, 3, 4, 5, 5, 2, 3, 4, 5, 5, 2, 3, 4, 5, 5, 2, 3, 4, 5]

## Lenth,Min,Max

In [27]:
list1

[5, 2, 3, 4, 5]

In [28]:
len(list1)

5

In [29]:
min(list1)

2

In [30]:
max(list1)

5

In [ ]:
list2

In [31]:
len(list2)

3

In [32]:
min(list2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [33]:
list3 = [1,5,5.5,9.9,10]
list3

[1, 5, 5.5, 9.9, 10]

In [34]:
min(list3)

1

In [35]:
max(list3)

10

In [36]:
len(list3)

5

## Index Position

In [37]:
str1

'hello world'

In [38]:
str1.index('l')

2

In [39]:
str1.index('l',5)

9

In [40]:
str1.index('o',5,9)

7

## Addition of elements

In [41]:
list1

[5, 2, 3, 4, 5]

In [42]:
list1.append(10)
list1

[5, 2, 3, 4, 5, 10]

In [43]:
list1.append([20,30])
list1

[5, 2, 3, 4, 5, 10, [20, 30]]

In [44]:
tup1

(10, 20, 30, 40, 50)

In [45]:
tup1.append(60)

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
list1

[5, 2, 3, 4, 5, 10, [20, 30]]

In [47]:
list1.insert(3,'a')
list1

[5, 2, 3, 'a', 4, 5, 10, [20, 30]]

In [48]:
list1[4]= 99
list1

[5, 2, 3, 'a', 99, 5, 10, [20, 30]]

In [49]:
list1[1:4] = [55,66,77]
list1

[5, 55, 66, 77, 99, 5, 10, [20, 30]]

## Remove elements

In [50]:
lst = [10,20,30,40,50,60,70,80,90,100]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [51]:
del lst[1:4]

In [52]:
lst

[10, 50, 60, 70, 80, 90, 100]

In [53]:
x = lst.pop(2)
x

60

In [54]:
lst

[10, 50, 70, 80, 90, 100]

In [55]:
x = lst.pop()
x

100

In [56]:
x=lst.remove(70)
x

In [57]:
lst

[10, 50, 80, 90]

In [58]:
lst.clear()
lst

[]

In [59]:
x=tup1.pop()
x

AttributeError: 'tuple' object has no attribute 'pop'

In [60]:
tup1.clear()
tup1

AttributeError: 'tuple' object has no attribute 'clear'

## Reverse

In [61]:
lst = [10,20,30,40,500,50,60,99,70,80,90,100]
lst

[10, 20, 30, 40, 500, 50, 60, 99, 70, 80, 90, 100]

In [62]:
lst.reverse()

In [63]:
lst

[100, 90, 80, 70, 99, 60, 50, 500, 40, 30, 20, 10]

In [64]:
lst1 = [10,20,30,77,11,40,50,60,70,99,80,90,100]

In [65]:
lst1[::-1] # This is applicable for all sequences,This will not change the original list

[100, 90, 80, 99, 70, 60, 50, 40, 11, 77, 30, 20, 10]

In [66]:
lst1

[10, 20, 30, 77, 11, 40, 50, 60, 70, 99, 80, 90, 100]

## Sort

In [67]:
lst

[100, 90, 80, 70, 99, 60, 50, 500, 40, 30, 20, 10]

In [68]:
lst.sort()

In [69]:
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 99, 100, 500]

In [70]:
lst.sort(reverse = True)
lst

[500, 100, 99, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [55]:
list3 = ['c','c++','python','java','apple123','apple']
list3

['c', 'c++', 'python', 'java', 'apple123', 'apple']

In [72]:
list3.sort()
list3

['apple', 'apple123', 'c', 'c++', 'java', 'python']

In [56]:
def myfunc(x):
    return len(x)

In [57]:
list3.sort(key=myfunc)
list3

['c', 'c++', 'java', 'apple', 'python', 'apple123']

## Tuple

In [73]:
tup = ([1,2,3,4],[5,6,7,8])
tup

([1, 2, 3, 4], [5, 6, 7, 8])

In [74]:
tup[0]

[1, 2, 3, 4]

In [75]:
tup[0].append(44)

In [76]:
tup

([1, 2, 3, 4, 44], [5, 6, 7, 8])

## String

In [77]:
my_str = "python"
my_str

'python'

In [78]:
my_str.capitalize()

'Python'

In [79]:
my_str1 = "hello world"
my_str1.capitalize()

'Hello world'

In [80]:
my_str1.title()

'Hello World'

In [81]:
my_str1.lower()

'hello world'

In [82]:
my_str1.upper()

'HELLO WORLD'

In [83]:
'PYTHON'.lower()

'python'

In [84]:
'Python'.swapcase()

'pYTHON'

In [85]:
'python'.endswith('on'), 'python'.endswith('ab')

(True, False)

In [86]:
'python'.startswith('py'), 'python'.startswith('cd')

(True, False)

In [87]:
my_str.startswith('py')

True

In [88]:
my_str = 'pyttthon'

In [89]:
my_str.find('t')

2

In [90]:
my_str.find('a')

-1

In [1]:
str1 = 'python3'
str1

'python3'

In [2]:
str1.isalpha(),str1.isalnum(),str1.isnumeric()

(False, True, False)

In [3]:
str2 = '123'
str2.isalpha(),str2.isalnum(),str2.isnumeric()

(False, True, True)

In [4]:
my_str2=' '
my_str2.isspace()

True

In [5]:
' '.isspace(), ''.isspace()

(True, False)

In [6]:
'  python  '.strip()

'python'

In [7]:
'   python    '.lstrip()

'python    '

In [8]:
'   python    '.rstrip()

'   python'

In [9]:
'1,2,3'.split(',')

['1', '2', '3']

In [10]:
'ab;cd;ef'.split(';')

['ab', 'cd', 'ef']

In [11]:
# count() method returns the number of occurrences of the substring in the given string.
x = "Welcome to python basics"
x

'Welcome to python basics'

In [12]:
count1 = x.count("o")
count1

3

In [13]:
# print count
print("The count is:", count1)

The count is: 3

In [14]:
# define string
string = "Python is awesome, isn't it"
string

"Python is awesome, isn't it"

In [15]:
string[6]

' '

In [16]:
string[25]

'i'

In [17]:
substring = " "

In [18]:
# count after first 'i' and before the last 'i'
count1 = string.count(substring, 7, 25)
count1

3

In [19]:
# Replace 
x='It is very nice,it is excellent'
x

'It is very nice,it is excellent'

In [20]:
y=x.replace("is","was")
y

'It was very nice,it was excellent'

In [21]:
y=x.replace('is','was',1)
y

'It was very nice,it is excellent'

## Variable unpacking

In [24]:
x,y,z = [1,2,3]
z

3

In [25]:
a,b,c = (5,6,7)
a

5

In [27]:
x,y,z = 'abc'
x

'a'

## Dictionaries

In [28]:
dict1 = {'Name':'shafi','Age':35}
dict1

{'Name': 'shafi', 'Age': 35}

In [29]:
# Accessing values in a dictionary
dict1['Name']

'shafi'

In [30]:
dict1['Age']

35

In [31]:
## Updating dictionary
dict1['Name']='adam'
dict1

{'Name': 'adam', 'Age': 35}

In [32]:
dict1['location']= 'Mumbai'
dict1

{'Name': 'adam', 'Age': 35, 'location': 'Mumbai'}

In [33]:
## Delete dictionary elements
del(dict1['Name'])

In [34]:
dict1

{'Age': 35, 'location': 'Mumbai'}

In [35]:
dict1.clear()

In [36]:
dict1

{}

In [37]:
del(dict1)

In [38]:
dict1

NameError: name 'dict1' is not defined

## Sets

In [39]:
## Sets have unique values
## Sets doesnot have positional ordering
s1 = {1,2,3,4}
s1

{1, 2, 3, 4}

In [40]:
s1[0]    # We can't access the elements with index

TypeError: 'set' object is not subscriptable

In [41]:
s2 = {11,2,55,66,8}
s2

{2, 8, 11, 55, 66}

In [42]:
list1=[22,11,33,12,25]
list1

[22, 11, 33, 12, 25]

In [43]:
for i in s2:
    print(i)

2
66
55
8
11

In [44]:
s1 = {}
type(s1)

dict

In [45]:
s1 = set()
type(s1)

set

In [46]:
len(s1)

0

In [47]:
s1 = {1,'a',(1,2),9.9} # it is taking only immutable data types
s1

{(1, 2), 1, 9.9, 'a'}

In [48]:
s3 = {1,[1,2,3],5.5,(1,3)} # it is not taking mutable data type list
s3

TypeError: unhashable type: 'list'

In [49]:
s1 = set([10,33,4,5])
s1

{4, 5, 10, 33}

In [50]:
s2 = set((11,2,35,4))
s2

{2, 4, 11, 35}

In [51]:
s3 = set('python')
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [52]:
s4 = set('hiiiiiiiiiiii')
s4

{'h', 'i'}

## Range

In [53]:
for i in range(1,5):
    print(i)

1
2
3
4

In [54]:
s5 = set(range(1,10))
s5

{1, 2, 3, 4, 5, 6, 7, 8, 9}