## Variable in python

In [1]:
x =10
x

10

In [2]:
id(x)

1766263777872

In [3]:
y = 10
y

10

In [4]:
id(y)

1766263777872

In [5]:
x =15
x

15

In [6]:
id(x)

1766263778032

In [7]:
hex(id(x))

'0x19b3d866af0'

In [8]:
2+5

7

In [9]:
5-7

-2

In [10]:
5*7

35

In [11]:
16/4

4.0

In [12]:
13//4

3

In [13]:
13%4

1

In [14]:
# Multiplication

a=3*1.1
b=3.3

In [15]:
a==b

False

In [16]:
3*1.1

3.3000000000000003

In [17]:
x=5*1.1
y=5.5

In [19]:
5*1.1

5.5

In [18]:
x==y

True

In [20]:
7*1.1

7.700000000000001

In [23]:
a=3.3

In [24]:
b=3.4

In [21]:
import math

In [25]:
math.isclose(a,b)

False

In [26]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [27]:
False and True or True

True

In [28]:
True or True and False

True

In [ ]:
False and (True or False)

In [29]:
not False

True

In [30]:
not True

False

# Data structures

# 1 List []
# 2 Tuple ()
# 3 Set {}
# 4 Dictionary {}

In [6]:
list1 = [1,2,3,4,5,5]
list1

[1, 2, 3, 4, 5, 5]

In [8]:
type(list1)# Data tpyes of data

list

In [10]:
tup1 = 10,20,30,40,50
tup1

(10, 20, 30, 40, 50)

In [12]:
type(tup1)

tuple

In [14]:
str1 = 'hello world'
str1

'hello world'

In [16]:
type(str1)

str

In [24]:
list1

[1, 2, 3, 4, 5, 5]

In [81]:
#Slicing & Indexing -Indexing Start from 0 Reverse indexing Starts from -1
# str[including:Excluding] Ex  first 2 Character    str[0,2]
# :: Reverse of String
# List and Dictionary are Mutable(Change) 
# Tuple and Sets are Immutable (Not Change)

In [26]:
list1[2]

3

In [28]:
list1[-4]

3

In [30]:
tup1

(10, 20, 30, 40, 50)

In [32]:
tup1[4]

50

In [44]:
tup1[-5]

10

## Slicing

In [35]:
str1

'hello world'

In [37]:
str1[1:3]

'el'

In [39]:
str='Data Science'
str

'Data Science'

In [43]:
# Data
str[0:4]

'Data'

In [47]:
# Science
str[5:12]

'Science'

In [47]:
str1[0:5]

'hello'

In [49]:
list1

[1, 2, 3, 4, 5, 5]

In [59]:
# Create List of number from 1 to 10
No=[1,2,3,4,5,6,7,8,9,10]
No

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
# 4-8
No[3:8]#/No[3:-2]

[4, 5, 6, 7, 8]

In [69]:
#  before 9

No[:8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [73]:
# after 5
No[5:]

[6, 7, 8, 9, 10]

In [51]:
list1[2:]

[3, 4, 5, 5]

In [53]:
list1[:4]

[1, 2, 3, 4]

In [51]:
list1[1:4:2]

[2, 4]

In [52]:
list1[:]

[1, 2, 3, 4, 5, 5]

In [53]:
list1[::-1]

[5, 5, 4, 3, 2, 1]

In [75]:
str1="Welcome to python world"
str1

'Welcome to python world'

In [79]:
str1[::-1]# :: Reverse of String

'dlrow nohtyp ot emocleW'

In [83]:
list(enumerate(str1))# enumerate function is used to see index number of each letter

[(0, 'W'),
 (1, 'e'),
 (2, 'l'),
 (3, 'c'),
 (4, 'o'),
 (5, 'm'),
 (6, 'e'),
 (7, ' '),
 (8, 't'),
 (9, 'o'),
 (10, ' '),
 (11, 'p'),
 (12, 'y'),
 (13, 't'),
 (14, 'h'),
 (15, 'o'),
 (16, 'n'),
 (17, ' '),
 (18, 'w'),
 (19, 'o'),
 (20, 'r'),
 (21, 'l'),
 (22, 'd')]

In [58]:
list(enumerate(list1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 5)]

In [85]:
# Set
Set1={1,2,3,4,5}
Set1

{1, 2, 3, 4, 5}

In [87]:
type(Set1)

set

In [91]:
# Dictionary(key:Values)
Dic1={'EmpID' : 1,'EmpName':"A",'Salary':10000}
Dic1

{'EmpID': 1, 'EmpName': 'A', 'Salary': 10000}

In [93]:
# Data Stucture  End #