#                                              Deep Learning

In [13]:
#!pip install numpy

In [15]:
#!pip install Pandas

In [5]:
#!pip install tensorflow

###  1 Import Libraries

In [7]:
#!pip install keras

In [18]:


import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')

### 2 Load the data

In [27]:
df = pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [29]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [31]:
df.drop(columns=['RowNumber','CustomerId','Surname'], inplace=True)

In [33]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

###3. Data Transformation

In [36]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [35]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [38]:
df.drop(columns = ['Exited'])

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [40]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [39]:
pd.get_dummies(data = df, columns = ['Geography','Gender'])

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,True,False,False,True,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,True,False,False,True,False
3,699,39,1,0.00,2,0,0,93826.63,0,True,False,False,True,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,True,False,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,True,False,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,True,False,False,True,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,False,True,False,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,True,False,False,True,False

In [42]:
df = pd.get_dummies(data=df, columns=['Geography','Gender'],dtype = int)
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

# Model Building

In [44]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [45]:
df.drop(columns = ['Exited'])

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [47]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [46]:
sc = StandardScaler()
x = df.drop(columns=['Exited'])
y = df['Exited']

In [48]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [58]:
x = sc.fit_transform(x)
x

array([[-0.32622142,  0.29351742, -1.04175968, ..., -0.57380915,
         1.09598752, -1.09598752],
       [-0.44003595,  0.19816383, -1.38753759, ...,  1.74273971,
         1.09598752, -1.09598752],
       [-1.53679418,  0.29351742,  1.03290776, ..., -0.57380915,
         1.09598752, -1.09598752],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 1.25683526,  0.29351742, -0.69598177, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -0.57380915,
         1.09598752, -1.09598752]])

In [60]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20, random_state=1)

In [64]:
xtrain

array([[-0.23310044, -0.94607926, -0.69598177, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [-0.25379399, -0.94607926, -0.35020386, ..., -0.57380915,
         1.09598752, -1.09598752],
       [-0.39864885,  0.77028538,  0.34135195, ..., -0.57380915,
         1.09598752, -1.09598752],
       ...,
       [ 0.22215769,  0.5795782 ,  1.37868567, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 0.12903671,  0.00745665,  1.03290776, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 1.16371428,  0.29351742,  0.34135195, ..., -0.57380915,
        -0.91241915,  0.91241915]])

In [68]:
#Initialize model
ann = Sequential()

#Add hidden layer
ann.add(Dense(units=10,activation='relu'))

#Add output layer
ann.add(Dense(units=1, activation='sigmoid'))

#Establish the connection between the layers
ann.compile(optimizer = 'adadelta',loss='binary_crossentropy',metrics=['accuracy'])

#Fit the data
ann.fit(xtrain,ytrain, epochs=100)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.3646 - loss: 1.0341
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3676 - loss: 1.0427
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3664 - loss: 1.0260
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3532 - loss: 1.0471
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3702 - loss: 1.0458
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.3664 - loss: 1.0313
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.3682 - loss: 1.0302
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3733 - loss: 1.0281
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3740 - loss: 1.0251
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3749 - loss: 1.0224
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3858 - loss: 1.0094
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3720 - loss: 1.0133
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3714 - loss: 1.0118
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3773 - loss: 1.0029
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.3763 - loss: 1.0085
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.3748 - loss: 1.0097
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.3794 - loss: 1.0069
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3926 - loss: 0.9888
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3886 - loss: 0.9932
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3879 - loss: 0.9996
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3919 - loss: 0.9967
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3830 - loss: 0.9987
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3925 - loss: 0.9878
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.3975 - loss: 0.9834
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.3813 - loss: 1.0002
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3890 - loss: 0.9770
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3940 - loss: 0.9761
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3923 - loss: 0.9719
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3959 - loss: 0.9742
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3940 - loss: 0.9728
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3994 - loss: 0.9704
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3965 - loss: 0.9688
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4021 - loss: 0.9584
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4081 - loss: 0.9568
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4084 - loss: 0.9621
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4178 - loss: 0.9450
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4145 - loss: 0.9508
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4093 - loss: 0.9571
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4248 - loss: 0.9548
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4106 - loss: 0.9681
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4118 - loss: 0.9570
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4057 - loss: 0.9527
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4208 - loss: 0.9447
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4266 - loss: 0.9364
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4265 - loss: 0.9318
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4213 - loss: 0.9414
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4344 - loss: 0.9234
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4326 - loss: 0.9308
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4239 - loss: 0.9345
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4171 - loss: 0.9434
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4403 - loss: 0.9185
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4386 - loss: 0.9141
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4466 - loss: 0.9120
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4454 - loss: 0.9056
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4414 - loss: 0.9203
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4496 - loss: 0.9055
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4424 - loss: 0.9162
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4494 - loss: 0.9164
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4506 - loss: 0.9078
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4561 - loss: 0.9051
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4440 - loss: 0.9024
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4602 - loss: 0.8855
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.4463 - loss: 0.9029
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4478 - loss: 0.9136
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4505 - loss: 0.9018
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4588 - loss: 0.8958
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4680 - loss: 0.8845
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4546 - loss: 0.8909
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4570 - loss: 0.8827
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.4658 - loss: 0.8922
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4593 - loss: 0.8898
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4572 - loss: 0.8888
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4666 - loss: 0.8739
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4678 - loss: 0.8863
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.4723 - loss: 0.8684
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4800 - loss: 0.8582
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4642 - loss: 0.8765
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4669 - loss: 0.8759
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4750 - loss: 0.8657
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4799 - loss: 0.8633
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4700 - loss: 0.8674
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4775 - loss: 0.8596
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4863 - loss: 0.8610
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4786 - loss: 0.8679
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4817 - loss: 0.8480
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4789 - loss: 0.8646
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4878 - loss: 0.8570
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4868 - loss: 0.8519
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4803 - loss: 0.8572
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4800 - loss: 0.8522
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4839 - loss: 0.8473
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.4929 - loss: 0.8407
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4972 - loss: 0.8444
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4865 - loss: 0.8530
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4993 - loss: 0.8309
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4955 - loss: 0.8409
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4940 - loss: 0.8305
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4957 - loss: 0.8318
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4958 - loss: 0.8351
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5055 - loss: 0.8180

In [74]:
xtest

array([[-1.04014895,  0.77028538, -1.04175968, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [ 0.3049319 , -0.4693113 , -0.69598177, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [-1.23673768,  0.29351742, -1.04175968, ..., -0.57380915,
         1.09598752, -1.09598752],
       ...,
       [-0.86425376, -0.4693113 ,  1.72446358, ...,  1.74273971,
        -0.91241915,  0.91241915],
       [-0.30552787, -0.85072567, -1.04175968, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 0.0462625 ,  1.24705333,  1.37868567, ..., -0.57380915,
        -0.91241915,  0.91241915]])

In [76]:
ypred = ann.predict(xtest)
ypred

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

array([[0.7806904 ],
       [0.6001756 ],
       [0.5291248 ],
       ...,
       [0.38191333],
       [0.48245186],
       [0.50749624]], dtype=float32)

In [78]:
ytest

9953    0
3850    0
4962    0
3886    0
5437    0
       ..
3919    0
162     0
7903    0
2242    0
2745    0
Name: Exited, Length: 2000, dtype: int64

In [80]:
print(classification_report(ytest,ypred))

ValueError: Classification metrics can't handle a mix of binary and continuous targets

In [82]:
ypred > 0.5

array([[ True],
       [ True],
       [ True],
       ...,
       [False],
       [False],
       [ True]])

In [84]:
ypred = ypred > 0.5
ypred

array([[ True],
       [ True],
       [ True],
       ...,
       [False],
       [False],
       [ True]])

In [86]:
ytest

9953    0
3850    0
4962    0
3886    0
5437    0
       ..
3919    0
162     0
7903    0
2242    0
2745    0
Name: Exited, Length: 2000, dtype: int64

In [88]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.88      0.45      0.59      1585
           1       0.27      0.76      0.39       415

    accuracy                           0.51      2000
   macro avg       0.57      0.60      0.49      2000
weighted avg       0.75      0.51      0.55      2000

# Hyperparameter Tuning

In [91]:
#!pip install -U keras-tuner# Hypertuning  Parameter

# **Tuning the ANN Model**
- Selecting the best optimizer

In [99]:
import keras_tuner as kt

In [105]:
def optimizer_selection(hp):
    #initialize the model
    model = Sequential()
    #Add hidden layer
    model.add(Dense(units=10, activation='relu'))
    #Add output layer
    model.add(Dense(units=1, activation='sigmoid'))
    #Optimizer selection
    optim = hp.Choice('optimizer', values = ['sgd','adam','rmsprop'])
    model.compile(optimizer=optim, loss = 'binary_crossentropy', metrics = ['accuracy'])
    return model

In [107]:
tuner = kt.RandomSearch(
    optimizer_selection,
    objective=['val_accuracy'],
    max_trials=3
)

In [109]:
tuner.search(xtrain,ytrain, epochs = 3, validation_data = (xtest,ytest))

Trial 3 Complete [00h 00m 03s]
multi_objective: -0.8100000023841858

Best multi_objective So Far: -0.8100000023841858
Total elapsed time: 00h 00m 09s

In [113]:
tuner.get_best_hyperparameters()[0].values

{'optimizer': 'rmsprop'}

In [115]:
model = tuner.get_best_models(num_models=1)[0]
model.fit(xtrain,ytrain, epochs = 100, validation_data = (xtest,ytest))

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8036 - loss: 0.4317 - val_accuracy: 0.8205 - val_loss: 0.4128
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8220 - loss: 0.4188 - val_accuracy: 0.8270 - val_loss: 0.4032
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8226 - loss: 0.4133 - val_accuracy: 0.8285 - val_loss: 0.3959
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8311 - loss: 0.3993 - val_accuracy: 0.8385 - val_loss: 0.3892
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8338 - loss: 0.3929 - val_accuracy: 0.8395 - val_loss: 0.3823
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8448 - loss: 0.3803 - val_accuracy: 0.8425 - val_loss: 0.3774
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8433 - loss: 0.3873 - val_accuracy: 0.8470 - val_loss: 0.3726
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8485 - loss: 0.3775 - val_accuracy: 0.8480 - val_loss: 0.3706
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8510 - loss: 0.3707 - val_accuracy: 0.8510 - val_loss: 0.3660
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8511 - loss: 0.3636 - val_accuracy: 0.8510 - val_loss: 0.3640
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8481 - loss: 0.3663 - val_accuracy: 0.8540 - val_loss: 0.3615
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8465 - loss: 0.3723 - val_accuracy: 0.8540 - val_loss: 0.3582
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8560 - loss: 0.3520 - val_accuracy: 0.8555 - val_loss: 0.3561
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8505 - loss: 0.3604 - val_accuracy: 0.8570 - val_loss: 0.3553
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8573 - loss: 0.3463 - val_accuracy: 0.8605 - val_loss: 0.3520
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8617 - loss: 0.3453 - val_accuracy: 0.8570 - val_loss: 0.3503
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8595 - loss: 0.3500 - val_accuracy: 0.8620 - val_loss: 0.3494
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8618 - loss: 0.3499 - val_accuracy: 0.8625 - val_loss: 0.3480
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8592 - loss: 0.3450 - val_accuracy: 0.8595 - val_loss: 0.3466
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8641 - loss: 0.3339 - val_accuracy: 0.8620 - val_loss: 0.3452
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8627 - loss: 0.3385 - val_accuracy: 0.8635 - val_loss: 0.3436
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8604 - loss: 0.3393 - val_accuracy: 0.8590 - val_loss: 0.3440
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8556 - loss: 0.3470 - val_accuracy: 0.8615 - val_loss: 0.3424
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8557 - loss: 0.3469 - val_accuracy: 0.8635 - val_loss: 0.3422
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8585 - loss: 0.3475 - val_accuracy: 0.8645 - val_loss: 0.3418
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8582 - loss: 0.3494 - val_accuracy: 0.8645 - val_loss: 0.3410
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8679 - loss: 0.3297 - val_accuracy: 0.8635 - val_loss: 0.3395
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8663 - loss: 0.3374 - val_accuracy: 0.8625 - val_loss: 0.3387
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8555 - loss: 0.3428 - val_accuracy: 0.8660 - val_loss: 0.3386
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8629 - loss: 0.3391 - val_accuracy: 0.8660 - val_loss: 0.3382
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8598 - loss: 0.3405 - val_accuracy: 0.8660 - val_loss: 0.3385
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8618 - loss: 0.3363 - val_accuracy: 0.8660 - val_loss: 0.3380
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8577 - loss: 0.3444 - val_accuracy: 0.8645 - val_loss: 0.3386
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8618 - loss: 0.3417 - val_accuracy: 0.8645 - val_loss: 0.3377
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8644 - loss: 0.3287 - val_accuracy: 0.8655 - val_loss: 0.3362
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8609 - loss: 0.3453 - val_accuracy: 0.8660 - val_loss: 0.3375
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8650 - loss: 0.3297 - val_accuracy: 0.8665 - val_loss: 0.3362
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8654 - loss: 0.3438 - val_accuracy: 0.8665 - val_loss: 0.3373
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8600 - loss: 0.3386 - val_accuracy: 0.8655 - val_loss: 0.3356
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8530 - loss: 0.3500 - val_accuracy: 0.8650 - val_loss: 0.3366
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8643 - loss: 0.3311 - val_accuracy: 0.8690 - val_loss: 0.3358
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8645 - loss: 0.3403 - val_accuracy: 0.8660 - val_loss: 0.3364
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8658 - loss: 0.3256 - val_accuracy: 0.8650 - val_loss: 0.3358
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8675 - loss: 0.3317 - val_accuracy: 0.8670 - val_loss: 0.3358
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8622 - loss: 0.3338 - val_accuracy: 0.8640 - val_loss: 0.3362
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8591 - loss: 0.3356 - val_accuracy: 0.8660 - val_loss: 0.3363
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8636 - loss: 0.3397 - val_accuracy: 0.8650 - val_loss: 0.3347
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8679 - loss: 0.3302 - val_accuracy: 0.8665 - val_loss: 0.3347
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8609 - loss: 0.3381 - val_accuracy: 0.8655 - val_loss: 0.3349
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8690 - loss: 0.3281 - val_accuracy: 0.8665 - val_loss: 0.3344
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8628 - loss: 0.3379 - val_accuracy: 0.8645 - val_loss: 0.3345
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8612 - loss: 0.3351 - val_accuracy: 0.8660 - val_loss: 0.3370
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8633 - loss: 0.3313 - val_accuracy: 0.8655 - val_loss: 0.3339
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8613 - loss: 0.3461 - val_accuracy: 0.8650 - val_loss: 0.3345
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8567 - loss: 0.3431 - val_accuracy: 0.8650 - val_loss: 0.3347
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8630 - loss: 0.3363 - val_accuracy: 0.8665 - val_loss: 0.3344
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8665 - loss: 0.3334 - val_accuracy: 0.8670 - val_loss: 0.3340
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8629 - loss: 0.3343 - val_accuracy: 0.8645 - val_loss: 0.3334
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8647 - loss: 0.3318 - val_accuracy: 0.8635 - val_loss: 0.3342
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8590 - loss: 0.3401 - val_accuracy: 0.8650 - val_loss: 0.3337
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8661 - loss: 0.3276 - val_accuracy: 0.8650 - val_loss: 0.3325
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8704 - loss: 0.3260 - val_accuracy: 0.8650 - val_loss: 0.3334
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8629 - loss: 0.3339 - val_accuracy: 0.8635 - val_loss: 0.3345
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8618 - loss: 0.3336 - val_accuracy: 0.8635 - val_loss: 0.3343
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8636 - loss: 0.3356 - val_accuracy: 0.8665 - val_loss: 0.3344
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8630 - loss: 0.3334 - val_accuracy: 0.8635 - val_loss: 0.3344
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8639 - loss: 0.3349 - val_accuracy: 0.8660 - val_loss: 0.3334
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8590 - loss: 0.3438 - val_accuracy: 0.8640 - val_loss: 0.3332
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8714 - loss: 0.3288 - val_accuracy: 0.8640 - val_loss: 0.3334
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8683 - loss: 0.3269 - val_accuracy: 0.8620 - val_loss: 0.3334
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8558 - loss: 0.3525 - val_accuracy: 0.8655 - val_loss: 0.3354
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8703 - loss: 0.3228 - val_accuracy: 0.8640 - val_loss: 0.3338
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8668 - loss: 0.3287 - val_accuracy: 0.8640 - val_loss: 0.3325
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8608 - loss: 0.3369 - val_accuracy: 0.8655 - val_loss: 0.3332
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8548 - loss: 0.3416 - val_accuracy: 0.8630 - val_loss: 0.3328
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8513 - loss: 0.3498 - val_accuracy: 0.8670 - val_loss: 0.3340
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8611 - loss: 0.3370 - val_accuracy: 0.8655 - val_loss: 0.3327
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8697 - loss: 0.3210 - val_accuracy: 0.8660 - val_loss: 0.3326
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8618 - loss: 0.3350 - val_accuracy: 0.8685 - val_loss: 0.3322
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8571 - loss: 0.3410 - val_accuracy: 0.8655 - val_loss: 0.3320
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8581 - loss: 0.3371 - val_accuracy: 0.8660 - val_loss: 0.3332
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8629 - loss: 0.3338 - val_accuracy: 0.8660 - val_loss: 0.3329
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8552 - loss: 0.3496 - val_accuracy: 0.8670 - val_loss: 0.3324
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8669 - loss: 0.3256 - val_accuracy: 0.8650 - val_loss: 0.3336
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8695 - loss: 0.3248 - val_accuracy: 0.8650 - val_loss: 0.3327
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8673 - loss: 0.3311 - val_accuracy: 0.8645 - val_loss: 0.3317
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8600 - loss: 0.3389 - val_accuracy: 0.8665 - val_loss: 0.3329
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8696 - loss: 0.3260 - val_accuracy: 0.8640 - val_loss: 0.3312
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8653 - loss: 0.3382 - val_accuracy: 0.8645 - val_loss: 0.3318
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8654 - loss: 0.3372 - val_accuracy: 0.8650 - val_loss: 0.3323
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8610 - loss: 0.3384 - val_accuracy: 0.8670 - val_loss: 0.3320
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8615 - loss: 0.3349 - val_accuracy: 0.8650 - val_loss: 0.3317
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8629 - loss: 0.3335 - val_accuracy: 0.8630 - val_loss: 0.3322
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8566 - loss: 0.3438 - val_accuracy: 0.8640 - val_loss: 0.3321
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8650 - loss: 0.3241 - val_accuracy: 0.8645 - val_loss: 0.3323
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8631 - loss: 0.3356 - val_accuracy: 0.8665 - val_loss: 0.3305
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8603 - loss: 0.3351 - val_accuracy: 0.8660 - val_loss: 0.3315
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8555 - loss: 0.3413 - val_accuracy: 0.8650 - val_loss: 0.3301
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8583 - loss: 0.3464 - val_accuracy: 0.8680 - val_loss: 0.3318
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8605 - loss: 0.3444 - val_accuracy: 0.8630 - val_loss: 0.3326

In [117]:
model.evaluate(xtrain,ytrain)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 880us/step - accuracy: 0.8660 - loss: 0.3350

[0.3329232335090637, 0.8633750081062317]

In [22]:
# Regression
import pandas as pd
import numpy as np
 
# To remove the scientific notation from numpy arrays
np.set_printoptions(suppress=True)

In [32]:
df=pd.read_pickle('CarPricesData.pkl')
df.head()

    Age     KM  Weight  HP  MetColor      CC  Doors  Price
0  23.0  46986  1165.0  90         1  2000.0      3  13500
1  23.0  72937  1165.0  90         1  2000.0      3  13750
2  24.0  41711  1165.0  90         1  2000.0      3  13950
3  26.0  48000  1165.0  90         0  2000.0      3  14950
4  30.0  38500  1170.0  90         0  2000.0      3  13750

In [36]:
sc = StandardScaler()
x = df.drop(columns=['Price'])
y = df['Price']

In [38]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2, random_state=1)

In [40]:
ann = Sequential()

ann.add(Dense(units=30, activation='relu'))
ann.add(Dense(units=20, activation='relu'))

ann.add(Dense(units=1))

ann.compile(optimizer='adam',loss = 'mse')

ann.fit(xtrain,ytrain, epochs = 100, validation_data = (xtest,ytest))

Epoch 1/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 5s 19ms/step - loss: 61588700.0000 - val_loss: 57217116.0000
Epoch 2/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 56440804.0000 - val_loss: 53688744.0000
Epoch 3/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 47592876.0000 - val_loss: 49540844.0000
Epoch 4/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 43973792.0000 - val_loss: 44163584.0000
Epoch 5/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 39203120.0000 - val_loss: 37614088.0000
Epoch 6/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 30698978.0000 - val_loss: 30323216.0000
Epoch 7/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 23746450.0000 - val_loss: 21383980.0000
Epoch 8/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 17588940.0000 - val_loss: 15489862.0000
Epoch 9/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 10397514.0000 - val_loss: 10250260.0000
Epoch 10/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 8359684.0000 - val_loss: 7694746.5000
Epoch 11/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 6824014.0000 - val_loss: 7265226.5000
Epoch 12/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 6804115.0000 - val_loss: 7167208.0000
Epoch 13/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5511297.0000 - val_loss: 6343224.5000
Epoch 14/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5611987.0000 - val_loss: 6109538.0000
Epoch 15/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5028187.5000 - val_loss: 6001046.0000
Epoch 16/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4933046.5000 - val_loss: 5879391.5000
Epoch 17/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5421300.0000 - val_loss: 5846678.5000
Epoch 18/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4446309.5000 - val_loss: 6416354.5000
Epoch 19/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5195321.5000 - val_loss: 5755908.0000
Epoch 20/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5968364.5000 - val_loss: 6270037.5000
Epoch 21/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5901106.5000 - val_loss: 5733999.0000
Epoch 22/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5131957.5000 - val_loss: 5755260.5000
Epoch 23/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5210010.0000 - val_loss: 5963606.5000
Epoch 24/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5262369.5000 - val_loss: 5656548.0000
Epoch 25/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5144548.5000 - val_loss: 5707455.0000
Epoch 26/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4402105.0000 - val_loss: 6194387.5000
Epoch 27/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5223905.5000 - val_loss: 6259704.5000
Epoch 28/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4508544.5000 - val_loss: 5513815.5000
Epoch 29/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4773571.5000 - val_loss: 5603389.5000
Epoch 30/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 4416763.0000 - val_loss: 5554963.5000
Epoch 31/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4763393.5000 - val_loss: 6000447.5000
Epoch 32/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5531982.5000 - val_loss: 5518544.0000
Epoch 33/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4562110.0000 - val_loss: 5912717.5000
Epoch 34/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5210514.5000 - val_loss: 5416308.5000
Epoch 35/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5301092.5000 - val_loss: 5461103.0000
Epoch 36/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4737242.0000 - val_loss: 8095378.5000
Epoch 37/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5919321.0000 - val_loss: 6293961.0000
Epoch 38/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 5416410.0000 - val_loss: 5522401.0000
Epoch 39/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4284961.5000 - val_loss: 5708413.5000
Epoch 40/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5150229.0000 - val_loss: 5438640.5000
Epoch 41/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 5210087.0000 - val_loss: 5488354.0000
Epoch 42/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5312400.5000 - val_loss: 6589383.5000
Epoch 43/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5053966.0000 - val_loss: 5614955.5000
Epoch 44/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4789702.5000 - val_loss: 5821248.5000
Epoch 45/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4725855.0000 - val_loss: 5877101.5000
Epoch 46/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4870278.0000 - val_loss: 5446452.0000
Epoch 47/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5089632.0000 - val_loss: 5257964.5000
Epoch 48/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4244585.0000 - val_loss: 5380010.5000
Epoch 49/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4811364.5000 - val_loss: 5448192.0000
Epoch 50/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 3932774.5000 - val_loss: 5245874.5000
Epoch 51/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4400948.0000 - val_loss: 5438474.0000
Epoch 52/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5353309.5000 - val_loss: 5464524.5000
Epoch 53/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4902926.0000 - val_loss: 5417940.5000
Epoch 54/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4430590.0000 - val_loss: 5204583.0000
Epoch 55/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4403169.0000 - val_loss: 5239737.0000
Epoch 56/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4261401.0000 - val_loss: 5072080.0000
Epoch 57/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4384927.0000 - val_loss: 5172267.5000
Epoch 58/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4710297.0000 - val_loss: 5057228.5000
Epoch 59/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4642936.0000 - val_loss: 5063119.0000
Epoch 60/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4700699.5000 - val_loss: 5360801.5000
Epoch 61/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4103177.5000 - val_loss: 5021790.0000
Epoch 62/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4655122.0000 - val_loss: 5060242.5000
Epoch 63/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4812309.5000 - val_loss: 5424438.5000
Epoch 64/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4231784.5000 - val_loss: 5047619.5000
Epoch 65/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 4871427.0000 - val_loss: 5468555.5000
Epoch 66/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 4166268.0000 - val_loss: 4987543.5000
Epoch 67/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4271655.5000 - val_loss: 5084264.0000
Epoch 68/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4922760.5000 - val_loss: 5231284.0000
Epoch 69/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4751680.0000 - val_loss: 4904017.5000
Epoch 70/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4101549.5000 - val_loss: 5094053.0000
Epoch 71/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4749585.5000 - val_loss: 4923922.0000
Epoch 72/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4334963.5000 - val_loss: 4943288.5000
Epoch 73/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4537815.5000 - val_loss: 5088675.0000
Epoch 74/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5171956.0000 - val_loss: 5144607.0000
Epoch 75/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4859483.5000 - val_loss: 6488794.5000
Epoch 76/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5261379.5000 - val_loss: 4781659.5000
Epoch 77/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 3940797.5000 - val_loss: 4979988.0000
Epoch 78/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4210180.5000 - val_loss: 4968099.0000
Epoch 79/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4007865.0000 - val_loss: 4868597.5000
Epoch 80/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4322103.5000 - val_loss: 4974887.0000
Epoch 81/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 3984144.2500 - val_loss: 5407727.0000
Epoch 82/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4763182.0000 - val_loss: 5007907.0000
Epoch 83/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4623403.0000 - val_loss: 4767851.0000
Epoch 84/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3959689.5000 - val_loss: 4760480.0000
Epoch 85/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4394326.5000 - val_loss: 4877699.5000
Epoch 86/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 3848582.2500 - val_loss: 4654957.5000
Epoch 87/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4227408.5000 - val_loss: 4724519.0000
Epoch 88/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 3906359.5000 - val_loss: 4861712.0000
Epoch 89/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 3921035.0000 - val_loss: 4779353.0000
Epoch 90/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4597657.0000 - val_loss: 5175789.5000
Epoch 91/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4710585.0000 - val_loss: 4785120.5000
Epoch 92/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4669579.0000 - val_loss: 5338475.0000
Epoch 93/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4170295.0000 - val_loss: 4762747.5000
Epoch 94/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4024208.0000 - val_loss: 5709275.5000
Epoch 95/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 4428335.5000 - val_loss: 5146629.5000
Epoch 96/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4272089.0000 - val_loss: 4678745.5000
Epoch 97/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4816239.5000 - val_loss: 7288468.5000
Epoch 98/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4796597.5000 - val_loss: 4588872.5000
Epoch 99/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 3766343.2500 - val_loss: 4553230.0000
Epoch 100/100
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4137493.0000 - val_loss: 4453429.0000

In [41]:
yp = ann.predict(xtest)
yp

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step

array([[ 8131.994 ],
       [10381.635 ],
       [13596.444 ],
       [10699.286 ],
       [12534.435 ],
       [14009.295 ],
       [ 9906.861 ],
       [ 8870.637 ],
       [ 9519.721 ],
       [ 9695.785 ],
       [ 9531.835 ],
       [ 9319.734 ],
       [12048.181 ],
       [ 9759.66  ],
       [10025.251 ],
       [10119.327 ],
       [ 6461.331 ],
       [ 9837.294 ],
       [17756.5   ],
       [ 9848.451 ],
       [17562.521 ],
       [10966.15  ],
       [ 9803.518 ],
       [ 8422.172 ],
       [13074.935 ],
       [17773.383 ],
       [ 7469.653 ],
       [ 8104.135 ],
       [17440.592 ],
       [ 8901.588 ],
       [ 8738.967 ],
       [ 9102.911 ],
       [12874.389 ],
       [19737.879 ],
       [23220.277 ],
       [10991.712 ],
       [13110.116 ],
       [ 9119.754 ],
       [ 8666.963 ],
       [19334.047 ],
       [ 9839.083 ],
       [ 9321.305 ],
       [ 9477.085 ],
       [ 8857.977 ],
       [ 9995.054 ],
       [ 9890.365 ],
       [12050.105 ],
       [ 9779.246 ],
       [ 7674.4424],
       [ 8030.441 ],
       [11725.462 ],
       [ 9267.674 ],
       [11100.654 ],
       [ 8866.747 ],
       [ 8853.974 ],
       [18940.07  ],
       [11330.791 ],
       [10102.251 ],
       [ 8530.66  ],
       [ 8818.272 ],
       [15585.541 ],
       [10027.472 ],
       [ 9797.166 ],
       [11715.313 ],
       [11946.674 ],
       [15250.025 ],
       [11302.422 ],
       [ 8592.277 ],
       [ 9399.31  ],
       [10517.233 ],
       [ 7248.405 ],
       [10067.777 ],
       [ 7539.119 ],
       [10453.793 ],
       [14231.408 ],
       [10377.832 ],
       [ 7526.0137],
       [12589.393 ],
       [ 8488.505 ],
       [11865.696 ],
       [11403.821 ],
       [ 7618.455 ],
       [11968.538 ],
       [ 9067.4795],
       [ 9338.484 ],
       [10251.914 ],
       [14144.876 ],
       [12903.379 ],
       [11572.7705],
       [11169.843 ],
       [ 9270.167 ],
       [12091.504 ],
       [ 9929.454 ],
       [ 9704.389 ],
       [ 9667.636 ],
       [10607.91  ],
       [12063.012 ],
       [11336.124 ],
       [ 9237.751 ],
       [12116.815 ],
       [ 8115.786 ],
       [ 7656.5923],
       [11835.999 ],
       [ 8680.333 ],
       [ 8112.2075],
       [12277.909 ],
       [12553.216 ],
       [ 7248.6606],
       [ 9969.984 ],
       [ 8652.672 ],
       [ 9015.62  ],
       [11542.818 ],
       [ 8735.899 ],
       [ 7260.912 ],
       [11473.918 ],
       [12446.501 ],
       [10411.676 ],
       [12477.805 ],
       [10948.58  ],
       [11659.024 ],
       [20537.523 ],
       [13497.567 ],
       [ 7257.71  ],
       [10732.37  ],
       [ 8870.872 ],
       [11553.811 ],
       [ 7150.621 ],
       [ 9483.542 ],
       [10215.143 ],
       [20413.102 ],
       [19627.281 ],
       [ 9097.091 ],
       [ 9496.364 ],
       [ 8452.854 ],
       [11469.395 ],
       [11869.817 ],
       [ 6795.742 ],
       [ 9922.951 ],
       [11513.922 ],
       [12658.542 ],
       [ 8939.604 ],
       [ 8821.429 ],
       [ 9490.28  ],
       [ 9359.86  ],
       [15611.232 ],
       [10140.083 ],
       [15082.418 ],
       [ 9436.199 ],
       [ 8518.276 ],
       [10430.167 ],
       [ 8355.542 ],
       [ 7585.086 ],
       [17924.057 ],
       [ 9489.395 ],
       [ 9483.345 ],
       [14479.197 ],
       [11265.88  ],
       [12725.989 ],
       [ 7914.857 ],
       [ 9869.967 ],
       [11988.594 ],
       [12946.672 ],
       [ 9961.548 ],
       [ 7667.4053],
       [ 8029.8105],
       [ 9842.224 ],
       [ 9816.128 ],
       [11366.14  ],
       [ 8646.238 ],
       [15640.819 ],
       [ 7620.8555],
       [19097.227 ],
       [10811.583 ],
       [10067.582 ],
       [23452.293 ],
       [10744.189 ],
       [ 9868.177 ],
       [ 9630.59  ],
       [ 9246.701 ],
       [ 8550.493 ],
       [14153.489 ],
       [15517.852 ],
       [ 9156.753 ],
       [ 9227.916 ],
       [ 8103.4756],
       [ 9956.304 ],
       [ 8181.005 ],
       [11826.336 ],
       [ 8951.849 ],
       [14420.699 ],
       [18774.232 ],
       [ 9838.817 ],
       [11886.824 ],
       [ 9899.193 ],
       [12002.786 ],
       [10606.641 ],
       [ 9654.951 ],
       [ 7943.662 ],
       [ 8311.237 ],
       [ 8099.3745],
       [10550.181 ],
       [10185.528 ],
       [17277.857 ],
       [ 7785.3115],
       [12705.939 ],
       [ 8796.084 ],
       [14327.87  ],
       [ 7804.08  ],
       [ 9008.737 ],
       [15902.699 ],
       [ 8134.3345],
       [ 7337.962 ],
       [ 9860.85  ],
       [11840.336 ],
       [10902.969 ],
       [ 9545.466 ],
       [ 8371.44  ],
       [15626.811 ],
       [ 9589.76  ],
       [ 8965.411 ],
       [14967.883 ],
       [ 8047.9526],
       [10960.598 ],
       [ 8666.004 ],
       [15122.95  ],
       [ 9489.024 ],
       [14143.367 ],
       [ 9129.004 ],
       [10008.067 ],
       [11651.131 ],
       [12461.734 ],
       [ 9382.351 ],
       [16699.734 ],
       [10616.066 ],
       [ 8318.612 ],
       [ 7791.6396],
       [16735.658 ],
       [10240.33  ],
       [11662.924 ],
       [11037.154 ],
       [ 9107.157 ],
       [ 9264.516 ],
       [12139.2705],
       [12786.652 ],
       [14531.638 ],
       [ 8472.783 ],
       [ 9841.721 ],
       [ 9274.034 ],
       [ 9668.389 ],
       [10561.589 ],
       [ 9940.356 ],
       [ 9670.967 ],
       [12503.574 ],
       [13903.552 ],
       [ 9366.057 ],
       [ 7654.0786],
       [10304.704 ],
       [10566.502 ],
       [ 9575.211 ],
       [ 9798.336 ],
       [10727.081 ],
       [ 9714.845 ],
       [ 6494.8013],
       [17186.965 ],
       [14435.468 ],
       [13026.929 ],
       [16334.478 ],
       [ 9251.08  ],
       [ 8749.408 ],
       [ 6203.8516],
       [11644.178 ],
       [18841.615 ],
       [10096.7295],
       [12318.276 ],
       [16404.13  ],
       [ 9311.035 ],
       [11363.105 ],
       [10949.565 ],
       [ 9574.099 ],
       [10290.591 ],
       [14120.781 ],
       [ 9735.427 ],
       [ 8505.886 ],
       [14093.708 ],
       [11629.814 ],
       [14626.806 ],
       [ 9732.45  ]], dtype=float32)

In [44]:
from sklearn.metrics import r2_score

In [46]:
r2_score(ytest,yp)

0.693973211798649

In [ ]:
#The End